<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<footer class="footer">
    <div class="container">

        <div class="footer-row">

            <div class="footer-links">
                <h4>Compañian</h4>
                <ul>
                    <li><a href="#"></a>Nosotros</li>
                    <li><a href="#"></a>Nuestros Servicios</li>
                    <li><a href="#"></a>Politica de Privacidad</li>
                    <li><a href="#"></a>Afiliate</li>
                </ul>
            </div>

            <div class="footer-links">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#"></a>Preguntas</li>
                    <li><a href="#"></a>Compras</li>
                    <li><a href="#"></a>Envios</li>
                    <li><a href="#"></a>Estatus de orden</li>
                    <li><a href="#"></a>Pago</li>
                </ul>
            </div>

            <div class="footer-links">
                <h4>Tienda</h4>
                <ul>
                    <li><a href="#"></a>Jugetes</li>
                    <li><a href="#"></a>Ropa</li>
                    <li><a href="#"></a>Telefono</li>
                    <li><a href="#"></a>Pantalla</li>
                </ul>
            </div>

            <div class="footer-links">
                <h4>Siguenos</h4>
                <div class="social-link">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""></a>
                </div>
            </div>

        </div>


    </div>

</footer>