<div class="heading">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugiat culpa laudantium nihil dignissimos 
    ipsam cumque nobis esse ut,magni mollitia qui recusandae, distinctio, aliquam beatae voluptas ipsum doloribus vel?
    </p>
</div>
<div class="container">
    <section class="about">
        <div class="about-image">
            <img src="./../../assets/img/pexels-pixabay-36717.jpg" alt="">
        </div>
        <div class="about-content">
            <h2>Lorem, ipsum dolor sit amet </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, quas nobis.
            Iusto reiciendis saepe excepturi ad iure harum eveniet, alias et aliquid, sapiente error iste incidunt placeat eligendi optio!
            Libero consequuntur, dolor labore, architecto animi voluptatum a accusantium quas nisi illum corporis itaque iusto officiis facilis quae aperiam! Magnam vitae,
            asperiores quae, ducimus odio repellat eligendi deleniti ipsa nihil doloremque.</p>
            <a href="" class="read-more">Read More</a>
        </div>
    </section>
</div>
