<body>
    <div class="contactUs">
        <div class="title">
            <h2>Contact</h2>
        </div>
        <div class="box">
            <div class="contact form">
                <h3>Menssage</h3>
                <form action="">
                   <div class="formBox">
                        <div class="row50">
                            <div class="inputBox">
                                <samp>First Name</samp>
                                <input type="text" placeholder="Rafael">
                            </div>
                            <div class="inputBox">
                                <samp>Last Name</samp>
                                <input type="text" placeholder="Palmezano">
                            </div>
                        </div>

                        <div class="row50">
                            <div class="inputBox">
                                <samp>First Email</samp>
                                <input type="text" placeholder="Rafaelpalmezano@gmail.com">
                            </div>
                            <div class="inputBox">
                                <samp>Mobil</samp>
                                <input type="text" placeholder="+53 300 245 147">
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <samp>Message</samp>
                                <textarea placeholder="Write your message here..."></textarea>
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <input type="submit" value="Send">
                            </div>
                        </div>


                    </div> 
                </form>
            </div>
            <div class="contact info">
                <h3>Contact Info</h3>
                <div class="infoBox">
                    <div>
                        <samp></samp>
                        <p>San Juan dek Cesar <br>LA GUAJIRA</p>
                    </div>
                    <div>
                        <sam></sam></samp>
                        <p></p>
                    </div>
                    <div>
                        <samp></samp>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="contact map" >
            </div>

        </div>
    </div>
</body>

<p>contact works!</p>

