<body>
    <div class="contactUs">
        <div class="title">
            <h2>Contact</h2>
        </div>
        <div class="box">
            <div class="contact form">
                <h3>Menssage</h3>
                <form action="">
                   <div class="formBox">
                        <div class="row50">
                            <div class="inputBox">
                                <samp>First Name</samp>
                                <input type="text" placeholder="Rafael">
                            </div>
                            <div class="inputBox">
                                <samp>Last Name</samp>
                                <input type="text" placeholder="Palmezano">
                            </div>
                        </div>

                        <div class="row50">
                            <div class="inputBox">
                                <samp>First Email</samp>
                                <input type="text" placeholder="Rafaelpalmezano@gmail.com">
                            </div>
                            <div class="inputBox">
                                <samp>Mobil</samp>
                                <input type="text" placeholder="+53 300 245 147">
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <samp>Message</samp>
                                <textarea placeholder="Write your message here..."></textarea>
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <input type="submit" value="Send">
                            </div>
                        </div>


                    </div> 
                </form>
            </div>
            <div class="contact info">
                <h3>Contact Info</h3>
                <div class="infoBox">
                    <div>

                        <samp><i class="fa-brands fa-location"></i></samp>
                        <p>San Juan dek Cesar <br>LA GUAJIRA</p>
                    </div>
                    <div>emil
                    </div>
                    <div>
                        
                        tel
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="contact map" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11086.188430168804!2d-73.00234797163985!3d10.768391810219782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8ae6ad52e32a45%3A0x6cd6dfcb8c8e6754!2sSan%20Juan%20Del%20Cesar%2C%20La%20Guajira!5e0!3m2!1ses!2sco!4v1707428649961!5m2!1ses!2sco"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</body>


